html * {
    font-family: 'Helvetica Neue,Helvetica', sans-serif;
    font-size: 24px;
    color-profile: sRGB;
}
h1{
    text-transform: capitalize;
}
img {
    margin-bottom: 0%;
}
html body {
    background-color: #002b36;/* base03 */
}
html a:hover {
    background-color: #073642;/* base02 */
}


.base03   {color: #002b36; }
.base02   {color: #073642; }
.base01   {color: #586e75; }
.base00   {color: #657b83; }
.base0    {color: #839496; }
.base1    {color: #93a1a1; }
.base2    {color: #eee8d5; }
.base3    {color: #fdf6e3; }
.yellow   {color: #b58900; }
.orange   {color: #cb4b16; }
.red      {color: #dc322f; }
.magenta  {color: #d33682; }
.violet   {color: #6c71c4; }
.blue     {color: #268bd2; }
.cyan     {color: #2aa198; }
.green    {color: #859900; }
.centerblock {
    width: 60%;
    height: 60%;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.gamebox {
    margin: auto;
    position: center;
    width: 25%;
    height: 10%;
    background-color: #073642; /* base02 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}
.gamebox:hover{ 
    background-color: #eee8d5; /* base2 */
}
.title {
    margin: auto;
    position: center;
    width: 50%;
    height: 10%;
    background-color: #eee8d5; /* base2 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}
.map{
    margin:auto;
}