html * {
    font-family: 'Helvetica Neue,Helvetica', sans-serif;
    color-profile: sRGB;
}
h1{
    text-transform: capitalize;
    font-size: 100%;
}
img {
    margin-bottom: 0%;
}
html body {
    background-color: #002b36;/* base03 */
        font-size: 24px;
}
html a:hover {
 /*   background-color: #073642;/* base02 */
}


.base03   {color: #002b36; }
.base02   {color: #073642; }
.base01   {color: #586e75; }
.base00   {color: #657b83; }
.base0    {color: #839496; }
.base1    {color: #93a1a1; }
.base2    {color: #eee8d5; }
.base3    {color: #fdf6e3; }
.yellow   {color: #b58900; }
.orange   {color: #cb4b16; }
.red      {color: #dc322f; }
.magenta  {color: #d33682; }
.violet   {color: #6c71c4; }
.blue     {color: #268bd2; }
.cyan     {color: #2aa198; }
.green    {color: #859900; }
.centerblock {
    width: 60%;
    height: 60%;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
.gamebox {
    margin: auto;
  /*  margin-left: 190px; */
    
    position: center;
    width: 75%;
    background-color: #073642; /* base02 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}
.gamebox:hover{ 
    background-color: #eee8d5; /* base2 */
}
.title {
    margin: auto;
    position: center;
    width: 50%;
    background-color: #eee8d5; /* base2 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}



/*
    Side Bar
*/
.sidebar {
  border-top:10px solid #b58900;
  padding-right: -1px;
  background: #fdf6e3;
  /* border-right: 1px solid #bdbdbd; */
  left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 190px;
  font-size: 16px;

  color: #616161;

  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}


.sidebar-title{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;  
    font-size: 26px;
}


.nav {
    list-style-type: none;
  margin-left: -20px;
  margin-top: 0;
}

.nav li {
    background-color: #F0F0F0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee8d5), to(#F3ECD4));
  background-image: -moz-linear-gradient(top, #F0F0F0, #DBDBDB);
  background-image: -o-linear-gradient(top, #F0F0F0, #DBDBDB);
  background-image: linear-gradient(top, #F0F0F0, #DBDBDB);
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid white;
  height: 42px;
  line-height: 42px;
  margin-left: -20px;

    display: block;
  padding-left: 20px;
  letter-spacing:1.1px;
}

.nav li:last-child {
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.nav li.inactive{
  border-top: 1px solid #1768B9;
  border-bottom: 1px solid #0C2D49;
  -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  background-color: #5FAEDF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#859900), to(#859900));
  background-image: -moz-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: -o-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: linear-gradient(top, #5FAEDF, #4889B4);
  position: relative;
  text-shadow: none;
  color: white 
}


.nav li.active {
  border-top: 1px solid #1768B9;
  border-bottom: 1px solid #0C2D49;
  -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  background-color: #5FAEDF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FAEDF), to(#4889B4));
  background-image: -moz-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: -o-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: linear-gradient(top, #5FAEDF, #4889B4);
  position: relative;
  text-shadow: none;
  color: white

}

.nav li.active::after {
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  -moz-transform: rotate(62deg) skew(30deg);
  -webkit-transform: rotate(62deg) skew(30deg);
  transform: rotate(62deg) skew(30deg);
  margin-top: -32px;
  margin-left: 157px;
  background: #5FAEDF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightBlue , endColorstr=$darkBlue);
  background: -webkit-gradient(linear, left top, right bottom, from(#5FAEDF), to(#4889B4));
  background: -moz-linear-gradient(-45deg, #5FAEDF, #4889B4);
  background: -o-linear-gradient(-45deg, #5FAEDF, #4889B4);
  background: linear-gradient(-45deg, #5FAEDF, #4889B4);
  border-top: 1px solid #1D6CAF;
  border-right: 1px solid #0C2D49;
  -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
}

.nav li.active a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

#locations{
    list-style-type: none;
  margin-left: -20px;
  margin-top: 0;
}

#locations li{

}

.location-header{
    margin-left: 15px;
    font-weight:bold;
    margin-bottom: 5px;
}   



#locations .cost{
    float:right;
    margin-right: 5px;
}

/* clean grey button */
/*******************************************************************************/
button.clean-gray {
  margin-left: 20px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }



/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
    margin-left: 20px;
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  /* font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  */
  font-size: 16px;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; }
  button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

#btn-region{
    position: absolute; 
    bottom: 20px;
}


