/*
        ██╗     ███████╗███████╗███████╗
        ██║     ██╔════╝██╔════╝██╔════╝
        ██║     █████╗  ███████╗███████╗
        ██║     ██╔══╝  ╚════██║╚════██║
        ███████╗███████╗███████║███████║
        ╚══════╝╚══════╝╚══════╝╚══════╝
*/
// Solarized Colour Scheme taken from Ethan Schoonover
@base03:   #002b36;
@base02:   #073642;
@base01:   #586e75;
@base00:   #657b83;
@base0:    #839496;
@base1:    #93a1a1;
@base2:    #eee8d5;
@base3:    #fdf6e3;
@yellow:   #b58900;
@orange:   #cb4b16;
@red:      #dc322f;// Green #7FB347
@magenta:  #d33682;
@violet:   #6c71c4;
@blue:     #268bd2;
@cyan:     #2aa198;
@green:    #859900;
@nonselectedsidebar: @base03;
@selectedsidebar: @magenta;
@accent: @magenta;
.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
.gradient (@startColor, @endColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
.border-radius (@radius: 0.5em) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.drop-shadow (@x: 0, @y: 0.1em, @blur: 0.2em, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.transform(@string){
    -webkit-transform:  @string;
    -moz-transform:     @string;
    -ms-transform:      @string;
    -o-transform:       @string;
}
.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity:    @opacity;
    opacity:         @opacity;
}
.paddingstart(@size: 0.5em){
    -webkit-padding-start: @size;
    -khtml-padding-start: @size;
    -moz-padding-start: @size;
    -o-padding-start: @size;
    padding-start: @size;
}
/***
 *     ██████╗███████╗███████╗
 *    ██╔════╝██╔════╝██╔════╝
 *    ██║     ███████╗███████╗
 *    ██║     ╚════██║╚════██║
 *    ╚██████╗███████║███████║
 *     ╚═════╝╚══════╝╚══════╝               
 */
html {
    font-family: 'Helvetica Neue', 'Helvetica', 'Ariel', sans-serif;
    color-profile: sRGB;
    overflow-y: scroll;
    color: @base3;
}
h1,h2,h3,h4,h5,h6,p,button{
    font-weight: 100;
}
strong {
    font-weight: 200;
}
h1 {
    font-size: 0.75em;
    text-transform: capitalize;
}
p {
    font-size: 0.25em;
}
img {
    margin-bottom: 0%;
}
html body {
    background-color: @base03;
}
html a:hover {
    background-color: @base03;
}
.nav {
    font-size: 0.3em;
    list-style-type: none;
    padding-left: 0em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-top: 0em;
}
.nav li {
    background-color:transparent;
    cursor: pointer; 
    margin-right: -1em;
    display: block;
    padding-left: 0.5em;
    position: relative;
    text-shadow: none;
    line-height: 1em;
}
.nav li:hover{
    color: @accent;
}
.nav li.inactive{
    background-color: @nonselectedsidebar;
    color: @base3;
}
.nav li.active {
    color: @accent;
}
.nav li.active a {
    text-shadow: 0 -0.1em 0 rgba(0, 0, 0, 0.4);
}
/*
        ███████╗██╗██████╗ ███████╗    ██████╗  █████╗ ██████╗ 
        ██╔════╝██║██╔══██╗██╔════╝    ██╔══██╗██╔══██╗██╔══██╗
        ███████╗██║██║  ██║█████╗      ██████╔╝███████║██████╔╝
        ╚════██║██║██║  ██║██╔══╝      ██╔══██╗██╔══██║██╔══██╗
        ███████║██║██████╔╝███████╗    ██████╔╝██║  ██║██║  ██║
        ╚══════╝╚═╝╚═════╝ ╚══════╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
*/
#sidebar {
    border-top:0.1em solid @magenta;
    background: @base02;
    color: @base1;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
}
#sidebar-title{
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    font-size: 0.5em;
    font-weight:100;
}
.modulecost{
    font-size: 0.6em;
    margin-left: 1em;
}
#locations{
    .paddingstart(0.5em);
    font-size: 0.3em;
    margin-top: 0;
    width: 90%;
}
.location-header{
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-top: 3em;
    font-weight: 200;
    font-size: 0.3em;
    display: block;
}   
#costPerMonth{
    display: block;
    float:right;
    margin-right: 0.5em;
}
.gameProperties{
    font-size:0.25em;
    font-weight: 100;
    display: block;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
#statusbar {
    border-bottom: 0.05em solid @magenta;
    border-top: 0.1em solid @magenta;
    background: @base02;
    color: #93a1a1;
    position: fixed;
    right: 0;
    top: 0;
    width: 81%;
}
.select-teams-status {
    width:20%;
    float: left;
    margin-left: 1em;
    margin-top: 0.5em;
}
.progess-state {
    width:20%;
    float: left;
    margin-left: 1em;
    margin-top: 0.5em;
}
#budget{
    margin-left: 0.5em;
}
#totalPayroll{
    margin-left: 0.5em;
}
#duedate{
    margin-left: 0.5em;
}
#budgetedWeeks{
    margin-left: 0.5em;
}
.mixi-frames{
from {background: @accent;}
to {background: @base3;}
}
@-webkit-keyframes myfirst {.mixi-frames;}
@-moz-keyframes myfirst {.mixi-frames;}
@-ms-keyframes myfirst {.mixi-frames;}
@-o-keyframes myfirst {.mixi-frames;}
@keyframes myfirst {.mixi-frames;}

#locations li{
    padding-bottom:0.1em;
    list-style: none;
}
#locations .teamMultiplierFade{
    float:right;
    padding-right: 0.3em;
    padding-left: 0.3em;
    margin-right: 0.5em;
        color: @base3;
        .border-radius();
    animation: myfirst 3s;
    -webkit-animation: myfirst 3s; /* Safari and Chrome */
}
#locations .teamMultiplier{
    float:right;
    margin-right: 0.5em;
    font-weight:200;
}
/***
 *    ██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗
 *    ██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝
 *    ██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗
 *    ██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║
 *    ██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║
 *    ╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 *                                                                  
 */
button {
    .border-radius(0.3em);
    background-color: desaturate(@cyan,20%);
    border: 0.1em solid transparent;
    margin-left: 1em;
    color: @base2;
    font-size: 0.2em;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    width: 10em;
    z-index: 997;
}
button:hover {
    background-color: @cyan;
    border: 0.1em solid @cyan;
    cursor: pointer;
    color: @base3; 
}
button:active {
    .box-shadow(inset 0 0 0.3em 0.3em desaturate(@cyan,30%));
}
#btn-region{
    position: absolute;
    bottom: 1em;
    left:5%;
    width:80%;
}
#btn-options{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 999;
}
#btn-action{
    margin-left: 0;
    bottom: 1em;
}
.btn-projects{
    display:list-item;
}

/*
             ██╗██╗   ██╗███████╗ ██████╗████████╗ ██████╗ ██████╗ ███╗   ███╗ █████╗ ██████╗ 
             ██║██║   ██║██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗████╗ ████║██╔══██╗██╔══██╗
             ██║██║   ██║█████╗  ██║        ██║   ██║   ██║██████╔╝██╔████╔██║███████║██████╔╝
        ██   ██║╚██╗ ██╔╝██╔══╝  ██║        ██║   ██║   ██║██╔══██╗██║╚██╔╝██║██╔══██║██╔═══╝ 
        ╚█████╔╝ ╚████╔╝ ███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║██║ ╚═╝ ██║██║  ██║██║     
         ╚════╝   ╚═══╝  ╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝      
*/
.jvectormap-label {
    .border-radius(0.3em);
    border: 1px solid @accent;
    position: absolute;
    background: @base03;
    font-size:0.25em;
    font-weight: 100;
    color: @yellow;
    display: none;
    padding: 0.3em;
}
.jvectormap-zoomin,.jvectormap-zoomout {
    color: @accent;
    .border-radius(0.5em);
    position: absolute;
    left: 0.3em;
    padding: 0.3em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    text-align: center;
}
.jvectormap-zoomin {
    font-size: 0.25em;
    bottom: 2em;
}
.jvectormap-zoomout {
    font-size: 0.25em;
    bottom: 0em;
}
.jvectormap-region {
    fill: @base03;
    stroke: @cyan;
    stroke-width: 0.5;
}
.jvectormap-region:hover {
    fill: @base03;
    stroke: @accent;
    stroke-width: 0.5;
}
/*
*  markers
*/
.jvectormap-marker{
    fill: @base1;
    stroke: @base03;
    stroke-width: 2.5;
    cursor:pointer;
}
.jvectormap-marker:hover{
    fill: @accent;
}
.jvectormap-marker:active{
    fill: @cyan;
}
.jvectormap-marker[state="1"]{
     fill: @red;
}
.jvectormap-marker[state="2"]{
     // fill: @orange;
     fill: #FFD801; // yellower than yellow
}
.jvectormap-marker[state="3"]{
     // fill: @green;
     fill: #7FB347; // greener than @green
}
#map {
    height: 6em; //this actually gets overwritten in JS
    float: right;
    bottom: 0;
    width: 80%;
}
/***
 *    ███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
 *    ████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
 *    ██╔████╔██║██║   ██║██║  ██║███████║██║     
 *    ██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
 *    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
 *    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *                                                
 */
 #modal{
    background-color: fade(@base03,70%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    color: @base03;
    
    .modal-content{
        .border-radius(0.1em);
        background: @base2;
        font-weight: 200;
        position: relative;
        text-align: center;
        margin: 5% 5%;
        width: 90%;
        height: 70%;
        p {
            font-size: 0.25em;
            font-weight: 200;
        }
    }
    .modal-options{
        position: absolute;
        bottom: 0.25em;
        width: 100%;
    }
    .project{
        font-size: 0.3em;
        text-align: left;
        margin-left: 20%;
    }
    #project-duration{
        float:right;
        margin-right: 3em;
    }
    #project-description{
        margin-top: 1em;
        margin-right: 3em;
    }
    #chartcontainer {
        float:right;
        padding-right: 1em;
        #chart-caption {
            font-size: 0.2em;
            margin-top: -1em;
        }
    }
}
/***
 *     ██████╗██╗  ██╗ █████╗ ██████╗ ████████╗███████╗
 *    ██╔════╝██║  ██║██╔══██╗██╔══██╗╚══██╔══╝██╔════╝
 *    ██║     ███████║███████║██████╔╝   ██║   ███████╗
 *    ██║     ██╔══██║██╔══██║██╔══██╗   ██║   ╚════██║
 *    ╚██████╗██║  ██║██║  ██║██║  ██║   ██║   ███████║
 *     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *                                                     
 */
#gameover {
    font-size: 0.3em;
    margin-top: -1em;
    canvas.canvasjs-chart-canvas{
        right: 1em;
    }
    .ttip {
        font-size: 1.5em;
        font-weight: 200;
        font-family: 'Helvetica Neue', 'Helvetica', 'Ariel', sans-serif;
        color: @base03;
        strong{
            font-weight: 400;
        }
    }
}
#results {
    float: left;
    padding-left: 1em;
    span{
       font-weight: 400;
    }
    #final-result{
       font-weight: 800;
    }
}
/***
 *    ███████╗████████╗ █████╗ ██████╗ ████████╗    ███████╗ ██████╗██████╗ ███████╗███████╗███╗   ██╗
 *    ██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝    ██╔════╝██╔════╝██╔══██╗██╔════╝██╔════╝████╗  ██║
 *    ███████╗   ██║   ███████║██████╔╝   ██║       ███████╗██║     ██████╔╝█████╗  █████╗  ██╔██╗ ██║
 *    ╚════██║   ██║   ██╔══██║██╔══██╗   ██║       ╚════██║██║     ██╔══██╗██╔══╝  ██╔══╝  ██║╚██╗██║
 *    ███████║   ██║   ██║  ██║██║  ██║   ██║       ███████║╚██████╗██║  ██║███████╗███████╗██║ ╚████║
 *    ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝       ╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝
 *                                                                                                    
 */
 #startScreen{
    position: absolute;
    text-align: center;
    display:table;
    height: 100%;
    width: 100%;
    line-height: 0em;
    h1{
        color: @base3;
        font-size: 3em;
    }
    h2{
        color: @blue;
        font-size: 1em;
    }
    #startScreenCenterV{
        display:table-cell;
        vertical-align: middle;
    }
 }
/***
 *    ████████╗███████╗███████╗████████╗██╗     ██╗███╗   ██╗ ██████╗ 
 *    ╚══██╔══╝██╔════╝██╔════╝╚══██╔══╝██║     ██║████╗  ██║██╔════╝ 
 *       ██║   █████╗  ███████╗   ██║   ██║     ██║██╔██╗ ██║██║  ███╗
 *       ██║   ██╔══╝  ╚════██║   ██║   ██║     ██║██║╚██╗██║██║   ██║
 *       ██║   ███████╗███████║   ██║   ███████╗██║██║ ╚████║╚██████╔╝
 *       ╚═╝   ╚══════╝╚══════╝   ╚═╝   ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ 
 *                                                                    
 */
#__testling_output{
    font-size: 0.25em;
}